@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.message-in, .offer-in {
  animation: slideIn 0.3s ease-out, fadeIn 0.3s ease-out;
}

.message-out {
  animation: fadeIn 0.3s ease-out;
}
